*{
	padding:0px;
	margin:0px;
}
body,html{
	height:100%;
	padding:0px;
	margin:0px;
	background: url(../img/fondo.png) no-repeat center center fixed;
	background-size: cover;
}
.a{
	width:100%;
	height:90px;
	overflow:hidden;
	position:fixed;
	top:0px
}
.b{
	width:100%;
	height:100%;
	overflow:hidden;
}
.c{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display:none;
	z-index:1
}
.d{
	height:17%;
	width:100%;
	position:fixed;
	bottom:0px;
	text-align: center;
}
#luna{
	height: 100%;
	width: 100%;
}
#nave{
	text-align:center;
	position:fixed;
	top:10%;
	width:100%;
	height:20%;
}
#nave img{
	height:100%;
}
#cpanel{
	height: 100%;
	width: 100%;
}
#cpanel li{
	background-color: orange;
	padding: 1%;
	font-size: 20px;
	list-style: none;
}
#hidem,#showm{
	float:right;
}
#negrita{
	font-weight: bold;
}
#win,#lose{ 
	z-index:3;
	position:fixed;
	background-color:orange;  
	width:60%;
	height:50%;
	left: 20%;
	top: 20%;
	opacity: 0.7;
	border-radius: 10px;
	display:none;
	color:#b82e2e;
	text-align:center;
}