body,html{
	height:100%;
	padding:0px;
	margin:0px;	
	background: url(../img/fondo.png) no-repeat center center fixed;
	background-size: cover;
	z-index: -1;
}
.c{
	display:block !important
}
.a,.b,.c{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}
.d{
	height:17%;
	width:100%;
	position:fixed;
	bottom:0px;
	text-align: center;
	z-index:0;
}
#nave{
	text-align:center;
	position:fixed;
	top:10%;
	width:100%;
	height:20%;
	z-index:2;
}
#nave img{
	height:100%;
}
#cpanel li,#menu li,#instrucciones{
	background-color: orange;
	padding: 0.5%;
	font-size: 20px;
	list-style: none;
}
#cpanel li{
	width: 60%;
}
#menu li{
	float: left;
	margin: 1%;
}
#hidem,#showm{
	display:none;
}
#negrita{
	font-weight: bold;
}
